@{
  Layout = "_Layout";
} 

@using Library.Models;
@model List<Library.Models.Author>;

<h1>Authors for @User.Identity.Name</h1>

<p>@Html.ActionLink("Add new author", "Create")</p>

@if (@Model.Any())
{
  <table class="table">
    <thead>
      <tr>
        <th>
          Author name
        </th>
        <th>
          Book titles
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      @foreach(Author author in Model)
      {
        @Html.HiddenFor(modelAuthor => author.AuthorId)
        <tr>
          <td>
            @Html.DisplayFor(modelAuthor => author.Name)
          </td>
          <td>
            <ul>
              @foreach(var join in author.JoinEntities)
              {
                <li>@Html.ActionLink($"{@join.Book.Title}", "Details", "Books", new { id = join.Book.BookId })</li>
              }
            </ul>
          </td>
          <td>
            @Html.ActionLink("Details", "Details", new { id = author.AuthorId }) |
            @Html.ActionLink("Edit", "Edit", new { id = author.AuthorId }) | 
            @Html.ActionLink("Delete", "Delete", new { id = author.AuthorId })
          </td>
        </tr>
      }
    </tbody>
  </table>
}
else
{
  <h3>No authors have been added yet!</h3>
}